* {
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    margin-bottom: 10px;
}

#timer {
    color: darkblue;
}

#authDiv {
    margin-bottom: 10px;
}
#trainFreqWarn, #trainStartWarn, #submitWarn, #timeInputWarn {
    color: red;
    font-size: 70%;
    margin-left: 10px;
}

[isvalid="valid"] {
    background-color: lightgreen;
}

[isvalid="invalid"] {
    background-color: lightpink;
}

[isvalid="unchecked"] {
    background-color: white;
}
